deterministic/32x32/forcing_adap_ref_sol/forcing/stochastic_forcing_as_deterministic_t50_to_t100_mesh32_var90.npz
deterministic/32x32/xi_calculation_visualization/data_for_xi_calculation/dX_data_t=50_to_t=100_grid_32_c_1by32.npz
deterministic/32x32/xi_calculation_visualization/data_for_xi_calculation/dX_data_t=100_to_t=110_grid_32_c_1by32.npz
deterministic/64x64/forcing_adap_ref_sol/forcing/stochastic_forcing_as_deterministic_t50_to_t100.npz
deterministic/64x64/xi_calculation_visualization/calculated_xi_vectors/xi_matrix_75_eigvec_c_1_by_64_decor_t_1_Dt_t=50_to_t=110.npz
deterministic/64x64/xi_calculation_visualization/data_for_xi_calculation/dX_data_t=50_to_t=100_grid_64_c_1by64.npz
deterministic/64x64/xi_calculation_visualization/data_for_xi_calculation/dX_data_t=100_to_t=110_grid_64_c_1by64.npz
